<%= provide(:title, "About") %>

<div class="row welcome text-center padding">
  <div class="col-12">
    <h1 class="display-5">このサイトについて</h1>
  </div>
  <hr>
</div>

<div class="row padding mt-4">
  <div class="col-12">
    <p>
      このサイトは、ある放送研究会サークルのOBが、「番発って面白いのに他大学の情報が中々見つかりにくいから見に行けないなぁ」、「今度うちのサークルで番発やるけど、もっと多くの人に見てもらいたいなぁ」と思ったのをきっかけに、番発の情報がすぐ分かるサイトというのを目指して作りました。
    </p>
    <p>
      このサイトは、サークル側がユーザー登録をして番発情報をイベントとして登録します。お客さん側は、TOPページのカレンダーから今後開催されるイベントが一目でわかります。番発関連のイベントの時でもお使いいただけます。
      このサイトの使い方については、<%= link_to "こちらをご覧ください。", help_path %>
    </p>
  </div>
</div>