<%= provide(:title, "Contact") %>

<div class="row welcome text-center padding">
  <div class="col-12">
    <h1 class="display-5">Contact</h1>
  </div>
  <hr>
</div>

<div class="row padding">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">作者プロフィール</h3>
        <h5 class="card-text">sasa</h5>
        <hr>
        <h3 class="card-title">お問い合わせ</h3>
        <div class="mb-3">
          <p class="card-text">emailまたはTwitterからご連絡下さい</p>
        </div>
        <div class="contact-text">
          <p class="card-text">
          email: sasasonium★gmail.com<i class="fas fa-envelope"></i><br>
          Twitter: @sasanium<a href="https://twitter.com/sasanium" target="_blank"><i class="fab fa-twitter"></i></a><br>
          Banpatsu.comのTwitter: <a href="https://twitter.com/BanpatsuC" target="_blank"><i class="fab fa-twitter"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>