<div class="center jumbotron">
  <h1>Banpatsu.com へようこそ！</h1>

  <h2>
    このサイトは、「他大学の番発を見に行きたい！」「今度番発をやるから見に来て欲しい！」という方達のための番発イベント情報サイトです。
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="container-fluid padding mb-2">
  <div class="row text-center">
    <div class="col-12">
      <h3>番発情報をチェック！</h3>
      <div class="calendar">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>