<h1>Banpatsu.com パスワードリセット</h1>

<p>Hi, <%= @user.circle_name %>:)</p>

<p>パスワードリセットのため下記のリンクをクリックしてください:</p>

<% if Rails.env.test? %>
  <%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email, host: "example.com") %>
<% else %>
  <%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email) %>
<% end %>

<p>このリンクの有効期限は2時間です。</p>

<p>もしパスワードをリセットリクエストを行っていない場合、このメールを無視してください。</p>