<li>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.circle_name, user %>
      <% if logged_in? && current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete,
          data: { confirm: "You sure?" } %>
      <% end %>
    </h4>
    <p class="card-body py-0">
      <%= truncate user.profile, length: 80 %>
    </p>
    </div>
  </div>
</li>