<% provide(:title, "Edit user") %>
<% provide(:button_text, "Save Changes") %>
<% provide(:url, user_path(@user)) %>
<h1>Update profile</h1>

<div class="row">
  <div class="col-md-6">
    <%= render 'form' %>

    <div class="gravatar_edit mb-3">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change!</a>
    </div>
  </div>
</div>