<% provide(:title, "Edit event") %>
<% provide(:button_text, "Edit event!") %>
<% provide(:url, event_path(@event)) %>
<h1>New Event</h1>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>