<footer class="pt-1">
  <div class="container fluid">
    <div class="row text-center">
      <div class="col-12">
        <nav>
          <ul class="nav justify-content-center">
            <li class="nav-item"><%= link_to "Help", help_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
          </ul>
        </nav>
      </div>
      <div class="col-12 text-center">
        <h5>&copy; sasasoni <a href="https://twitter.com/sasanium" target="_blank"><i class="fab fa-twitter"></i></a></h5>
      </div>
    </div>
  </div>
</footer>